.faq {
  &-list {
    width: 100%;
    position: relative;
    padding-left: 0;
    margin-top: 35px;
  }
  &-container {
    margin-top: 32px;
    margin-bottom: 72px;
  }
  &-subtitle {
    text-align: center;
    margin-bottom: 21px;
  }
  @include media("lg") {
    &-list:after{
      position: absolute;
      top: -250px;
      right: 0;
      content: '';
      background: url('../img/about-pink-decorator.svg');
      width: 187px;
      height: 229px;
    }
    &-container {
      margin-top: 72px;
      margin-bottom: 220px;
    }
    &-subtitle {
      margin-bottom: 61px;
    }
  }
}

.faq-element {
  cursor: pointer;
  background: rgba(80, 46, 121, 0.15);
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  &__btn{
    width: 33px;
    height: 33px;
    border: 2px solid $main-color;
    border-radius: 5px;
  }
  &__content {
    height: auto;
    max-width: 80%;
  }
  &__question {
    max-width: 1200px;
    color: $secondary-color;
    font-size: 1.25rem;
    font-weight: 700;
  }
  &__answer {
    display: block;
    max-height: 0;
    visibility: hidden;
    opacity: 0;
    color: $text-color;
    transition: max-height .3s ease-out, opacity .3s ease-out, visibility .3s ease-out, margin .15s ease-out;
  }
  @include media("md") {
    padding: 30px 38px;
    &__question {
      font-size: 1.5625rem;
    }
  }
  @include media("lg") {
    &__question {
      font-size: 1.875rem;
    }
  }
}

.faq-element.open{
  .faq-element__answer{
    max-height: 600px;
    margin-top: 20px;
    transition: max-height .35s ease-out, opacity .3s ease-out, visibility .3s ease-out, margin .15s ease-out;
    opacity: 1;
    visibility: visible;
  }
}