.hero__container .large__heading{
  margin-top: 131px;
  margin-bottom: 156px;
}

.hero__text{
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  line-height: 1.7em;
  max-width: 31.5625rem;
  margin-left: auto;
  margin-bottom: 7.5rem;
}

.video__section{
  margin-bottom: -2.5rem;
}
.video__container{
  transform: translateY(-2.5rem);
}

.home-benefits__container{
  display: flex;
}
.home-benefits__offset{
  background: $secondary-color;
  height: 100%;
}
.home-benefits__text-wrapper{
  height: 100%;
  padding: 7rem 7.125rem 5.3125rem 7.125rem;
  @include media('fhd'){
    padding: 7rem 8.125rem 5.3125rem 8.125rem;
  }
}

h2.benefits__header{
  font-weight: 800;
  font-size: 90px;
  margin-bottom: 6.6875rem;
  text-align: left;
}

.benefits__text{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.benefits__left-column{
  width: calc(50% - 12px);
  p{
    padding-right: 15px;
  }
}

.benefits__right-column{
  width: calc(50% - 12px);
  p{
    margin-bottom: 40px;
  }
  ul{
    padding-left: 0;
    color: $black;
    font-weight: 400;
    list-style: circle;
    list-style-position: inside;
    li{
      padding-bottom: 1rem;
    }
  }
}

.home-slider {
  &__item {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#1b1b1b,  .25);
      z-index: 2;
    }
  }
  &__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    text-align: center;
  }
  &__header {
    color: $white;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 2.8125rem;
  }
  &__text {
    color: $white;
    font-size: 40px;
    font-weight: 600;
    font-family: $secondary-font;
    margin-bottom: 2.8125rem;
  }
  &__date {
    color: $white;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    &::before {
      content: '';
      width: 1.5625rem;
      height: .0625rem;
      background-color: $white;
      position: absolute;
      left: -2.8125rem;
      top: 50%;
      transform: translateY(-50%);
    }
    &::after {
      content: '';
      width: 1.5625rem;
      height: .0625rem;
      background-color: $white;
      position: absolute;
      right: -2.8125rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.slick-dots {
  position: absolute;
  right: 6.25rem;
  left: auto;
  bottom: auto;
  top: 50%;
  transform: translate(0, -50%);
  flex-direction: column;
  & li {
    padding: 0;
    margin: 1.125rem 0;
    width: .625rem;
    height: .625rem;
    transition: all .35s ease-in-out;
    & button {
      background: transparent;
      border: .0625rem solid $white;
      border-radius: 50%;
      outline: 0;
      -webkit-appearance: 0;
      padding: 0;
      margin: 0;
      width: .625rem;
      height: .625rem;
      color: transparent;
      cursor: pointer;
      transition: all .35s ease-in-out;
    }
    &.slick-active {
      transform: scale(1.2);
      & button {
        background-color: $white;
        transform: scale(1.2);
      }
    }
  }
}

.home-categories {
  &__header {
    margin-bottom: .625rem;
  }
  &__item {
    display: block;
    margin: 3.125rem 0;
  }
  &__content {
    text-align: center;
    box-shadow: .0625rem .25rem 2.75rem .375rem rgba(0, 0, 0, 0.1);
    padding: 1.4375rem 2.5rem
  }
  &__title {
    font-size: 24px;
    font-family: $secondary-font;
    font-weight: 600;
  }
  &__cat {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.875rem;
  }
  &__cat-name {
    color: $main-color;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    padding-right: .5rem;
    &::after {
      content: '/';
      display: inline-block;
      margin-left: .5rem;
    }
    &:last-child {
      &::after {
        display: none;
      }
    }
  }
  &__pointer-ico {
    width: .75rem;
    height: 1.125rem;
    fill: $main-color;
    margin-right: .75rem;
  }
  &__date {
    font-size: 12px;
    color: #838383;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.socials-home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  max-width: 15.625rem;
  margin: 3.75rem auto;
  &::before {
    width: 35rem;
    height: .0625rem;
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-105%, -50%);
    background-color: $main-color;
  }
  &::after {
    width: 35rem;
    height: .0625rem;
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(105%, -50%);
    background-color: $main-color;
  }
  &__item {
    margin-right: 3.75rem;
    &:last-child {
      margin-right: 0;
    }
  }
  &__icon {
    height: 1.125rem;
    fill: $main-color;
  }
}