.posts {
  margin-top: 40px;
  margin-bottom: 60px;
  &.wrapper {
    margin-left: 0;
    margin-right: 0;
  }
  &__post {
    max-width: 450px;
    margin-top: 50px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    &:last-of-type {
      margin-bottom: 0;
    }
    &-background {
      width: 100%;
      height: 380px;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &-header {
      margin-top: 25px;
      margin-bottom: 19px;
    }
    & h2 {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &__image-link {
    position: relative;
  }
  &__title {
    line-height: 30px;
  }
  &__btn {
    width: max-content;
    max-width: none;
    padding: 1.22rem 2.375rem;
  }
  &__pagination-container {
    margin-top: 60px;
    width: 100%;
    min-width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 130px;
  }
  .page-numbers {
    font-weight: 500;
    margin-right: 8px;
    color: $text-color;
    &.current {
      margin-right: 8px;
      color: $main-color;
    }
    &.next {
      position: relative;
      &:after {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -25px;
        content: "";
        height: 13px;
        width: 16px;
        background: url("../img/pagination-arrow.svg");
      }
    }
    &.prev {
      position: relative;
      &:after {
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(180deg);
        left: -25px;
        content: "";
        height: 13px;
        width: 16px;
        background: url("../img/pagination-arrow.svg");
      }
    }
  }
  @include media("md") {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 80px;
    &__post {
      display: flex;
      flex-direction: column;
      max-width: none;
      padding-right: 15px;
      margin-bottom: 50px;
      &-background {
        width: 100%;
        height: 300px;
      }
      &:nth-of-type(2n) {
        padding-right: 0;
        padding-left: 15px;
      }
    }
    &__btn {
      margin-top: auto;
    }
  }
  @include media("lg") {
    margin-top: 80px;
    margin-bottom: 100px;
    &.wrapper {
      padding-left: 30px;
      padding-right: 30px;
    }
    &__post {
      margin-bottom: 75px;
      &-background{
        height: 240px;
        background-position-y: 40%;
      }
    }
    &__pagination-container {
      margin-bottom: 0;
    }
  }
  @include media("xl") {
    margin-bottom: 150px;
    &__title {
      line-height: 40px;
    }
    &.wrapper {
      margin-left: auto;
      margin-right: auto;
      max-width: 1450px;
    }
    &__post {
      padding-right: 15px;
      
      &:nth-of-type(2) {
        padding-right: 15px;
        padding-left: 15px;
      }
      &:nth-of-type(2n) {
        padding-left: 15px;
        padding-right: 15px;
      }
      &:nth-of-type(3n) {
        padding-right: 0px;
        padding-left: 15px;
      }
      &:nth-of-type(2n + 3) {
        padding-right: 15px;
        padding-left: 15px;
      }
      &:last-of-type {
        margin-bottom: 75px;
      }
    }
  }
  @include media("xxl") {
  }
  @include media("xxxl") {
    margin-top: 100px;
    margin-bottom: 200px;
    &__post {
      padding-right: 15px;
      &:nth-of-type(2) {
        padding-right: 20px;
        padding-left: 20px;
      }
      &:nth-of-type(2n) {
        padding-left: 20px;
        padding-right: 20px;
      }
      &:nth-of-type(3n) {
        padding-right: 0px;
        padding-left: 20px;
      }
      &:nth-of-type(2n + 3) {
        padding-right: 20px;
        padding-left: 20px;
      }
      &:last-of-type {
        margin-bottom: 75px;
      }
    }
  }
}
