header.header-burger {
  display: block;
  position: fixed;
  position: sticky;
  top: 0;
  right: 0;
  z-index: 995;
  background: $white;
  padding-top: 43px;
  padding-bottom: 21px;
  &.wrapper {
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
  @include media("lg") {
    &.wrapper {
      padding-right: 30px;
      padding-left: 30px;
    }
  }
  @include media("xl") {
    display: none;
  }

  .hamburger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__button {
      width: 24px;
      height: 24px;
      background: $white;
      border: none;
      outline: none;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__label {
      display: block;
      width: 18px;
      height: 2px;
      background: $secondary-color;
      margin: 0;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: 6px;
        left: 0;
        width: 18px;
        height: 2px;
        background: $secondary-color;
        transition: all 0.3s ease-out;
      }
      &:after {
        content: "";
        position: absolute;
        bottom: 6px;
        left: 0;
        width: 18px;
        height: 2px;
        background: $secondary-color;
        transition: all 0.3s ease-out;
      }
      @include media("sm") {
        width: 22px;
        height: 3px;
        &:before {
          width: 22px;
          height: 3px;
          top: 8px;
        }
        &:after {
          width: 22px;
          height: 3px;
          bottom: 8px;
        }
      }
    }
  }

  &.closed {
    transition: all 0.8s ease-out;
    .menu-main-menu-container {
      height: 0;
      transition: height 0.8s ease-out;
    }
    ul#menu-main-menu-1 {
      max-height: 0;
      opacity: 0;
      visibility: hidden;
      transition: max-height ease-out 0.6s, opacity 0.2s ease-out,
        visibility 0.2s ease-out;
    }
    #menu-main-menu-1 li:first-of-type {
      margin-top: 0px;
    }
  }

  &.opened {
    .menu-main-menu-container {
      height: auto;
      transition: height 0.3s ease-out;
    }
    ul#menu-main-menu-1 {
      max-height: 100vh;
      transition: max-height ease-out 0.3s, opacity 0.3s ease-out ,
        visibility 0.3s ease-out ;
      opacity: 1;
      visibility: visible;
      padding-bottom: 300px;
    }
    #menu-main-menu-1 li:first-of-type {
      margin-top: 80px;
    }
    .hamburger__label {
      background: transparent;
    }
    .hamburger__label:after {
      transform: translate3d(0, -50%, 0) rotate(-45deg);
      transition: all 0.3s ease-out;
      top: 50%;
    }
    .hamburger__label:before {
      transform: translate3d(0, -50%, 0) rotate(45deg);
      transition: all 0.3s ease-out;
      top: 50%;
    }
  }
}

.header__logo--mobile {
  width: 135px;
  height: auto;
  @include media("sm") {
    width: 140px;
  }
}

.header {
  display: none;
  @include media("xl") {
    position: fixed;
    position: sticky;
    top: 0;
    right: 0;
    background: $white;
    display: block;
    z-index: 999;
    margin: 0;
    &__logo {
      width: 160px;
      height: auto;
    }
  }
  @include media("xl") {
    padding: 0 30px;
    &__logo {
      width: 130px;
    }
  }
  @include media("xxl") {
    padding: 0 45px;
    &__logo {
      width: 170px;
    }
  }
  @include media("xxxl") {
    &__logo {
      width: auto;
    }
  }
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 29px;
  padding-bottom: 29px;
}

#menu-main-menu {
  display: flex;
  align-items: center;
  padding-left: 0;
}

#menu-main-menu li,
#menu-main-menu-1 li {
  color: $text-color;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 27px;
  margin-right: 20px;
  transition: 0.35s ease-out;
  &:last-of-type {
    margin-right: 0;
  }
  &#menu-item-2902 {
    cursor: pointer;
    margin-right: 50px;
  }
  &:hover {
    color: $main-color;
    transition: 0.35s ease-out;
  }
  @include media("xl") {
    margin-right: 30px;
    font-size: 1rem;
    &#menu-item-2902 {
      margin-right: 30px;
    }
  }
  @include media("xxl") {
    margin-right: 35px;
    font-size: 1.25rem;
    &#menu-item-2902 {
      margin-right: 40px;
    }
  }
  @include media("xxxl") {
    margin-right: 40px;
    &#menu-item-2902 {
      margin-right: 80px;
    }
  }
}

#menu-main-menu-1 li {
  margin-right: 0;
  margin-bottom: 40px;
  text-align: center;
  &:first-of-type {
    margin-top: 80px;
  }
}

#menu-main-menu li#menu-item-58 a {
  @extend .primary-btn;
  color: $white;
  @include media("xl") {
    max-width: 160px;
    padding: 14px 30px;
    font-size: 1.1rem;
  }
  @include media("xxl") {
    max-width: 185px;
    padding: 18px 38px;
    font-size: 1.25rem;
  }
}

#menu-main-menu-1 li.menu-item-58 a {
  @extend .primary-btn;
  color: $white;
  margin: 0 auto;
}

#menu-main-menu-1 li.menu-item-2902 {
  margin-bottom: 80px;
}
