.large__heading{
  font-family: $font-text;
  color: $black;
  font-size: 5.625rem;
  font-weight: 800;
}

.secondary__section{
  background: #E8E8E8;
  width: 100%;
}
//
.btn {
  text-transform: uppercase;
  vertical-align: middle;
  user-select: none;
  box-sizing: border-box;
  -webkit-appearance: none;
  font-family: $font-text;
  border: 0;
  cursor: pointer;
  display: inline-block;
  &--primary {
    color: $white;
    background-color: $main-color;
    border-radius: 10px;
    font-size: .75rem;
    text-transform: uppercase;
    font-weight: 400;
  }
  &--text {
    font-weight: 400;
    color: $main-color;
    text-transform: uppercase;
    font-size: .75rem;
    position: relative;
    &::after {
      width: 100%;
      height: 1px;
      background-color: $main-color;
      content: '';
      display: block;
      margin-top: 5px;
    }
  }
}

.section-header {
  font-size: 1.125rem;
  color: $dark-color;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  display: inline-block;
  padding-left: 25px;
  padding-right: 25px;
  &::before {
    content: '';
    width: 105px;
    height: 1px;
    background-color: $dark-color;
    display: inline-block;
    transform: translateX(-25px);
    vertical-align: middle;
  }
  &::after {
    content: '';
    width: 105px;
    height: 1px;
    background-color: $dark-color;
    display: inline-block;
    transform: translateX(25px);
    vertical-align: middle;
  }
}

.decorative-header {
  font-size: 5.625rem;
  color: $dark-color;
  font-weight: 300;
  font-family: $decorative-font;
  &--bold {
    font-size: 3.125rem;
    font-weight: 400;
  }
}

.category-header {
  color: $dark-color;
  font-size: 3.125rem;
  font-weight: 400;
  font-family: $decorative-font;
  text-align: center;
  margin-top: 150px;
}

.category-description {
  font-size: 1rem;
  color: $dark-color;
  font-weight: 300;
  text-align: center;
}

.quantity {
  display: flex;
  align-items: center;
  position: relative;
  color: $black;
  height: 35px;
  font-size: 1.4rem;
  font-weight: 700;
  color: #666666;
  margin: 2rem 0;
  &__label {
    font-size: 1.4rem;
    color: #666666;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__btn {
    color: $dark-color;
    padding: 0;
    border: 0;
    background-color: transparent;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 20px;
    text-align: center;
    outline: 0;
    cursor: pointer;
    z-index: 10;
    font-size: 1rem;
    font-weight: 300;

    &:hover {
      color: $main-color;
      border-color: $main-color;
      border-width: 1px;
    }
  }
  &__input {
    border: 1px solid $main-color;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 300;
    padding: 4px 10px;
  }
  & .qty {
    border: none;
    margin: 0;
    text-align: center;
    -webkit-appearance: none;
    border: 0;
    text-align: center;
    border: none;
    margin: 0;
    padding: 0 5px;
    line-height: 27px;
    text-align: center;
    appearance: none;
    width: 35px !important;
    font-weight: 400;
    outline: 0;
    line-height: 33px;
    -moz-appearance:textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
  }
}

.site-main {
  margin-top: 160px;
}