.primary-btn {
  display: block;
  cursor: pointer;
  color: $white;
  background: #be4073;
  background: $linear-primary;
  transition: all ease-in-out 0.3s;
  border: none;
  border-radius: 0.8125rem;
  font-family: $font-text;
  font-size: 20px;
  font-weight: 700;
  padding: 1.125rem 2.375rem;
  max-width: 11.5625rem;
}

p {
  color: $text-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5rem;
  margin-block-end: 0;
  margin-bottom: 1.25rem;
}

.primary__text {
  font-weight: 500;
  font-size: 1rem;
  line-height: 30px;
}

.primary-image-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(
    114.12deg,
    rgba(190, 64, 115, 0.7) 21.78%,
    rgba(130, 52, 146, 0.252) 51.39%,
    rgba(130, 52, 146, 0.7) 82.27%
  );
  z-index: 0;
}
.secondary-header {
  color: $main-color;
  font-size: 30px;
  line-height: 4.125rem;
  font-family: $font-text;
  font-weight: 700;
}

.coders-input {
  background: transparent;
  border-radius: 8px;
  padding: 16px 14px;
  min-width: 363px;
  border: 1px solid $text-color;
  outline: none;
  width: 100%;
  transition: all .3s ease-out;
  max-width: 690px;
  &::placeholder {
    color: $text-color;
    transition: all .3s ease-out;
  };
  &:focus, &:focus-visible{
    border: 1px solid $main-color;
    transition: all .3s ease-out;
    &::placeholder{
      color: transparent;
      transition: all .3s ease-out;
    }
  }
}

.wpcf7-list-item {
  margin-left: 0;
}

input[type="file"].coders-input {
  text-indent: -999em;
  outline: none;
  width: 100%;
  height: 100%;
  padding: 14px 14px;
  position: relative;
  &::before {
    content: "Dodaj CV";
    position: absolute;
    color: $text-color;
    top: 50%;
    transform: translateY(-50%);
    left: 14px;
    width: 100%;
    height: 100%;
  }
}

input[type='checkbox']{
  width: 19px;
  height: 19px;
  outline: none;
  border: 1px solid $text-color;
  border-radius: 5px;
  margin-right: 9px;
  transform: translateY(3px);
}

.page-header {
  position: relative;
  &.wrapper {
    margin: 0;
  }
  &__img-wrapper {
    position: relative;
    width: 100%;
  }
  &__bg-img {
    min-width: 100%;
    min-height: 168px;
  }
  &__heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.875rem;
    font-weight: 36px;
    z-index: 50;
    margin: 0;
    font-weight: 700;
  }
  @include media("lg") {
    &__heading {
      font-size: 2.4rem;
      line-height: 48px;
    }
  }
  @include media("xl") {
    &.wrapper {
      margin: 0 30px;
    }
    &__heading {
      color: $white;
      font-size: 3.125rem;
      line-height: 96px;
      font-weight: 700;
    }
  }
  @include media("xxl") {
    &.wrapper {
      margin: 0 45px;
    }
  }
}
