.course {
  position: relative;
  background: rgba(80, 46, 121, 0.15);
  padding: 58px 13px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  &:nth-of-type(2n) {
    background: rgba(190, 64, 115, 0.15);
  }
  &:last-of-type {
    margin-bottom: 0;
  }
  &__data {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-bottom: 38px;
    &-label {
      font-size: 1rem;
      font-weight: 700;
      line-height: 22px;
      color: $main-color;
    }
    &-content {
      display: flex;
      justify-content: flex-start;
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 40px;
      padding-top: 6px;
      color: $secondary-color;
    }
    &:last-of-type {
      padding-bottom: 0;
    }
    &.course-btn__container {
      min-width: 100%;
      & .course__btn {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  &__btn {
    background: $white;
    color: $main-color;
    padding: 14px 18px;
    font-size: 1.125rem;
    font-weight: 700;
    transition: all 0.3s ease;
    border-radius: 13px;
    outline: none;
    border: none;
    width: max-content;
    cursor: pointer;
    &:hover {
      background: $secondary-color;
      color: $white;
      transition: all 0.3s ease;
    }
  }
  &__regular-price {
    padding-left: 16px;
    color: $secondary-color;
    font-weight: 300;
    font-size: 1rem;
    line-height: 40px;
    text-decoration: line-through;
  }
  &__promotion-label {
    position: absolute;
    right: 0;
    top: 0;
    background: $main-color;
    color: $white;
    font-weight: 700;
    line-height: 22px;
    padding: 4px 20px;
    color: white;
  }
  @include media("md") {
    &__data {
      width: 33.33%;
      &.course-btn__container {
        width: 33.33%;
        min-width: 0;
        padding-top: 15px;
        & .course__btn {
          margin-left: 0;
          margin-right: 0;
          margin-bottom: 0;
        }
      }
    }
  }
  @include media("lg") {
    padding: 38px 22px 0 22px;
    margin-bottom: 30px;
    &:last-of-type {
      margin-bottom: 0;
    }
    &__btn {
      margin-bottom: 40px;
    }
  }
  @include media("xxl") {
    align-items:center;
    padding-top: 0;
    &__data {
      width: 16.66666%;
      padding: 38px 0;
      &.course-btn__container {
        min-width: 0;
        padding-top: 0;
         width: 16.66666%;
        & .course__btn {
          margin-left: 0;
          margin-right: 0;
          margin-bottom: 0;
        }
      }
      &:last-of-type{
        padding: 38px 0;
      }
    }
  }
}
