/** COLORS **/
$white: #fff;
$black: #000;
$body-bg: #fff;
$text-color: #151542;
$text-color-light: #838383;
$secondary-font: #835281;

$main-color: #BE4073;
$secondary-color: #823492; 

$linear-primary: linear-gradient(117.45deg, #BE4073 34.39%, #823492 93.56%);
$linear-secondary: linear-gradient(117.45deg, #823492 34.39%, #BE4073 93.56%);
/** FONTS **/
$font-text: 'Monrope', sans-serif;
// $decorative-font: 'zooja-pro', sans-serif;

/** RESPONSIVE BREAKPOINTS **/
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1500px,
  xxxl: 1620px,
  fhd: 1920px,
);




